#title{
    padding-top:60px; 
    padding-bottom:30px;
    text-align: center;
    font-size: 30px;
}

#id{
    padding-top:30px; 
    padding-bottom:40px;
    text-align: center;

}

#pw{

    padding-bottom:40px;
    text-align: center;

}

#pwr{
    padding-bottom:40px;
    text-align: center;

}

#phone{
    text-align: center;
}

#manwoman{
    padding-bottom:40px;
    text-align: center;
    
}

#trainer{
    padding-top:20px; 
    padding-bottom:30px;
    text-align: center;
}

#signup{
    padding-top:20px; 
    padding-bottom:30px;
    text-align: center;
}